extends ../layout

block content
  if user.nickname
    h1 Bienvenido a DressCloset #{user.nickname}
  else
    h1 Bienvenido a DressCloset #{user.fullname}

  h3 Verificación de Email
  p Un correo fue enviado a su email: #{user.email}
  p Revise un su correo electronico para atenticar su cuenta.

  //- Esto es solo para pruebas: permite autenticar un usuario con el enlace
  //- mostrado a continuacion
  hr
  p: a(href=tempRoute) Link en el email (Autenticar)
  hr
  p= tempMessage
  hr
  //- Hasta aqui
